# SPDX-FileCopyrightText: 2025 Koen van Greevenbroek
#
# SPDX-License-Identifier: CC-BY-4.0

# Ignore all manually downloaded files except documentation
*
!.gitignore
!README.md
!LicenseRef-IHME-NonCommercial.txt
!LicenseRef-GDD-NonCommercial.txt